<br>
<div style="background: #b3ffb3 !important" class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Create and share Markdown Wikis</p>
  <p>#sign up</p>
</div>
<div class="rows">
  <div class="col-md-8">
    <h2>Create as many public wikis as you want!</h2>
    <p>#Free plan</p>
  </div>
  <div class="col-md-4">
    <h2>Create private wikis!</h2>
    <p>#premium plan</p>
  </div>
</div>


