<div id="wikis">
  <div><!--added 2nd button to top-->
    <% if current_user %>
      <h1>Wikis <%= link_to "New", new_wiki_path(@wiki), class: 'btn btn-primary btn-sm move-button'%>
        <% else %>
        <h1>Wikis</h1>
    <% end %>
      </h1>
  </div>


  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <div>
            <%= link_to wiki.title, wiki%> 
            <small><%=" ----Created by: #{wiki.user.email}----"%></small>
            <% if wiki.private == true %>
            <small id="private">                  private</small><!--added small label for user email and private-->
          </div>
        </h4>
      </div>
    </div>
  <% end %>
  <% end %>

</br>
</br>
    <% if current_user %>
      <%= link_to "New", new_wiki_path(@wiki), class: 'btn btn-primary'%>
    <% end %>
    </div>
  </div>
</div>
