<div id="wikis">
  <h1>Wikis</h1>

  <% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <% if current_user && current_user.standard?%>
        <%= link_to wiki.title, wiki%>
        
        <% else current_user && (current_user == current_user.premium? || current_user == current_user.admin?)%>
        <%= link_to wiki.title, wiki %>
        <% if wiki.private == true %>
        <small id="private">private</small>
      </h4>
      <% end %>
      <% end %>
    
    </div>
  </div>

  <% end %>

</br>
</br>
    <% if current_user %>
    <%= link_to "New", new_wiki_path(@wiki), class: 'btn btn-primary'%>
    <% end %>
    </div>
  </div>
</div>
