/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


.user-info {
  margin-top: 15px;
}
#show-btn {
  margin-left: 15px;
}
body {
  background-image: url("http://2.bp.blogspot.com/-IJJ8kPI8n0g/UOwelxzR9gI/AAAAAAAALS8/3IOqG_eBWsc/s1600/blackboard-backgrounds-wallpapers.jpg;");
  color: white;
}
.jumbotron {
  color: black;
 
}
.jumbotron h1 {
  color: black;
  font-family: 'Londrina Shadow', bold;
  font-size: 72px;
}
a {
  color: white;
  margin-top: 10px;
}
input, select, textarea{
    color: black;
}

textarea:focus, input:focus {
    color: black;
}
#wikis {
  margin-top: 50px;
  margin-bottom: 30px;
}
#private {
  color: red;
}